* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000;
}

.header-logo {
    display: block;
}

.main-banner {
    display: block;
    width: 100%;
}


.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 66px 0 112px;
}

.top-infocard-text {
    text-align: center;
    max-width: 766px;
    margin-bottom: 66px;

}

.top-infocard-subtitle {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;

}

.top-infocard-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
}


.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
}

.top-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 26px 26px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banners-desktop {
    background: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 32px;
    justify-content: center;
    width: 100%;
}

.middle-banners-mobile {
    display: none;
}

.middle-banner-mobile-maior {
    display: none;
}

.bottom-cards {
    margin-top: 138px;
}

.bottom-cards-wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    position: relative;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 32px 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description {
    max-width: 368px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 138px 0 104px;
}

.bottom-infocard-text {
    max-width: 550px;
    text-align: center;
    margin-bottom: 32px;
}

.bottom-infocard-text-mobile {
    text-align: center;
    padding: 50px 32px 104px;
}

.bottom-infocard-title {
    margin-bottom: 18px;
    line-height: 1;
    font-size: 32px;
    font-weight: 600;
}

.bottom-infocard-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 414px) {

    .main-banner-desktop,
    .middle-banners-desktop {
        display: none;
    }

    .top-cards {
        display: flex;
        flex-direction: column;
    }

    .middle-banners-mobile {
        display:grid;
        grid-template-columns: repeat(2, max-content);
        gap: 14px;
        margin: 76px 0 24px;
        justify-content: center;
    }

    .middle-banner-mobile-maior {
        display: flex;
        justify-content: center;
        padding: 0 24px 80px;
    }

    .middle-banner-responsivo {
        background: #e0e0e0;
    }

    .bottom-cards-wrapper {
        display: flex;
        flex-direction: column;
    }

    .bottom-infocard-image {
        display: none;
    }

    .bottom-infocard-image-mobile {
        display: flex;
        flex-direction: center;
        width: 100%;
    }

    .bottom-infocard-text {
        display: none;
    }


}

@media screen and (min-width: 414px) {

    .main-banner-mobile,
    .middle-banner-mobile {
        display: none;
    }


   .bottom-infocard-text-mobile {
       display: none;
   }

   .bottom-infocard-image-mobile {
       display: none;
   }


   .bottom-infocard-image {
       display: flex;
   }
    
}



@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .bottom-cards {
        margin-top: 114px;
        padding: 0 26px;
    }

    .bottom-cards-wrapper {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .bottom-card-description {
        font-size: 14px;
    }

    .page-footer {
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
        padding: 84px 26px 80px;
    }

    .top-infocard-text {
        margin: 0 0 68px;

    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-image {
        width: 100%;
        max-width: 240px;
    }

    .bottom-infocard {
        flex-direction: column;
        padding: 80px 0 0;
    }

    .bottom-infocard-image {
        width: 100%;
        max-width: 596px;
        margin: 0 0 50px;
    }

    .bottom-infocard-text {
        padding: 0 26px;
    }

    .bottom-infocard-title {
        font-size: 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .bottom-card-description {
        max-width: 280px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    
    .top-infocard-text {
        max-width: 520px;
        margin-right: 70px;
    }

    .bottom-infocard-image {
        max-width: 480px;
    }

    .bottom-infocard-text {
        max-width: 400px;
    }
    
}
